#---master---#
#Telethroid
PyLeaves
dnspython
pymongo
#--Main----#
pyrogram 
aiofiles
tgcrypto
requests
bs4

#---database---#
pymongo[srv]
marshmallow
umongo
motor

#---ytdl----#
youtube-search-python
youtube-search
yt-dlp

#---imdb---#
git+https://github.com/cinemagoer/cinemagoer


#---others----#
opencv-python-headless
googletrans
telegraph
python-dotenv
gTTS
speedtest
humanize
Pillow
psutil
NumPy
numpy<2
opencv-python-headless
wheel
ujson
wget
pytz




Flask
gunicorn
aiohttp
